body{
    font-size: 14px;
    line-height: 16.8px;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.firstHead{
    height: 53px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

header nav li {
    display: inline-block;
  }
  
header nav a {
    display: block;
    padding: 10px;
    color: unset;
    text-decoration: none;
  }

.Feedback{
    display: flex;
    align-items: center;
}
.Feedback *{
    margin: 2px;
}

.telephone{
    font-size: 18px;
    text-decoration: underline;
}

.secondHead{
  background-color: #333333;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}

.background{
  background-image: url('Assets/backgroundFirstBlock.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 357.97px;
}

.block__promotion{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(0deg, #F5F7F9, #F5F7F9), #ECE8E5;
  height: 1088.04px;
}

.promotion__title{
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
}

.promotion__calcBlock{
  background-color: white;
  width: 984px;
  min-height: 828.13px;
}

.calcBlock__title{
  margin: 44px 0 0 0;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}

.calcBlock__calcSettings {
  display: flex;
  margin: 47.21px;
  justify-content: space-between;
  align-items: center; 
}

.calcSettings__checkPromotion{
  float: left;
}

.calcSettings__checkPromotion span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

/* Доделать верстку по кнопкам настроек */

.dropdown{
  min-width: 149px;
  position: relative;
  margin: 2em;
  display: inline-block;
}

.dropdown *{
  box-sizing: border-box;
}

.select{
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EAECEF;
  max-height: 40px;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.selected-clicked{
  background: #EAECEF;
  box-shadow: 0 0 0.2em black;
}

.select:hover{
  box-shadow: 0 0 0.2em black;
}
.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: 0.3s;
}

.caret-rotate{
  transform: rotate(180deg);
}

.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background: #EAECEF;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  border-radius: 0.5em;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li{
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover{
  background: #FFFFFF;
}

.active{
  background: #FFFFFF;
  border-radius: 10px;
}

.menu-open{
  display: block;
  opacity: 1;
}


